* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
}

body {

    background-image: linear-gradient(to right, #9c27b0, #8ac3fe);
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav div ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #ffff;
    margin: 0 1.5rem;
    font-weight: 800;

}

nav ul li a:hover {
    color: #000000;
    transition: 1s;
}

.link {
    margin-top: 2rem;
}

.img {
    display: flex;
    align-items: center;
}

nav div .realphone {
    font-size: 2.5rem;
    color: black;
    z-index: 999;
}

#logo {
    width: 3rem;
    z-index: 999;
}

.main {
    /* margin-top: 5rem; */
    display: flex;
    justify-content: center;

}

#a {
    width: 80%;
    position: relative;

}

.main {
    width: 1000px;
    height: 1000px;
    /* border-radius: 50%; */
    position: absolute;
    top: -5vw;
    left: -15vw;
    border-right: 500px solid transparent;
    border-top: 500px solid rgb(255, 255, 255);
    border-bottom: 500px solid rgb(255, 255, 255);
    border-left: 500px solid rgb(255, 255, 255);
}
#cricle{
    transform: rotate(0deg);
    transition: 1s;
}





i {
    color: #ffffff;
    font-size: 3rem;
    border-top: #000000;
}

.batter {
    position: absolute;
    bottom: 40vw;
    display: flex;
    align-items: center;
    right: -4vw;
    transform: rotate(-90deg);

}

.camera {
    position: absolute;
    right: 35vw;
    bottom: -4vw;
    display: flex;
    align-items: center;
    transform: rotate(-180deg);
}

.chip {
    position: absolute;
    left: 35vw;
    bottom: 50%;
    display: flex;
    align-items: center;
}

.display {
    position: absolute;
    top: 40vw;
    display: flex;
    align-items: center;
    transform: rotate(90deg);
}

.mobile {
    position: relative;
    top: -12vw;
}

h2,
p {
    color: #ffffff;
    margin-left: 1rem;
    margin-bottom: 5px;
}

.outer {
    display: flex;
    justify-content: flex-end;

}

.button {
    width: 20%;
    position: relative;
    top: 30vh;
}

#up,
#down {
    cursor: pointer;
}
#up:hover,#down:hover{
    position: relative;
    top: 2px;
    text-shadow: 0 4px #999;
    transition: .5s;
    
}
#up:after,#down:after{
    color: #000000;
}
.text{
    color: white;
    font-weight: 700;
}

